.brands {
  background-color: $quaternary;
}

.brands__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  margin: 0;
}

.brands__item {
  background-color: $quaternary;
  margin-bottom: 5px;
  border-radius: 40px;
  width: 230px;
  border: 2px solid $primary;
}

.brands__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $logo;
  padding: 10px 40px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .brands__list {
    flex-direction: row;
    justify-content: space-between;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
  }

  .brands__item {
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
      background-color: $primary;
    }
  }

  .brands__link {
    padding: 50px 40px;

    &:hover {
      color: $quaternary;
    }

    &:active {
      color: $active;
    }
  }
}
