.main-nav {
  background-color: $tertiary;
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

.main-nav__item {
  padding-left: 80px;
  box-shadow: inset 0 0 1px $primary;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 22px;
    top: 12px;
    left: 35px;
    background-image: url("../img/icons/array.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__link {
  font-size: 12px;
  display: block;
  color: $primary;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    flex-direction: row;
    background-color: $quaternary;
    padding-right: 50px;
  }

  .main-nav__item {
    padding-left: 0;
    margin-right: 10px;
    box-shadow: none;
    background-color: $quaternary;

    &::before {
      display: none;
    }

    .main-nav__link {
      font-size: 14px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
