.main-header {
  display: flex;
  justify-content: center;
  background-color: $quaternary;
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 10px;
}

.main-header__link {
  display: block;
  color: $logo;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $active;
  }
}

.main-nav {
  position: absolute;
}

.main-header__nav {
  position: absolute;
  top: 64px;

  &--close {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.main-header__button {
  padding: 0;
  position: absolute;
  right: 23px;
  top: 22px;
  border: none;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.main-header__nav--close + .main-header__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../img/icons/button-close.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__link {
    font-size: 19px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
  }

  .main-header__button {
    display: none;
  }

  .main-header__nav {
    position: static;

    &--close {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__link {
    font-size: 22px;
  }
}
