.uno-brand {
  padding: 20px 30px;
  max-width: 900px;
  margin: 0 auto;
}

.uno-brand__title {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid $primary;
  padding-bottom: 5px;
}

.uno-brand__description {
  font-size: 12px;
  text-align: justify;
  font-weight: 400;
}


@media (min-width: $tablet-width) {
  .uno-brand {
    padding: 30px 80px;
  }

  .uno-brand__title {
    font-size: 18px;
  }

  .uno-brand__description {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .uno-brand {
    padding: 30px 80px;
  }

  .uno-brand__title {
    font-size: 22px;
  }

  .uno-brand__description {
    font-size: 18px;
  }
}
