// colors
$primary: #61a897;
$secondary: #000000;
$tertiary: #ffffff;
$quaternary: #f1f1f1;
$logo: #2c4229;
$active: rgb(235, 235, 203);

// viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
